@import 'variables';
@import 'stars';
@import 'card';

body {
  margin: 0;
  font-family: $main-font;
  background-color: #fff;
  color: #333;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
}

.logo {
  display: flex;
  flex-shrink: 0;
}


.header {
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  &__link {
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    color: $color-nav;
    text-transform: uppercase;
    transition: color $transition-speed;

    &:hover {
      color: $color-nav-hover;
    }

    &.is-active {
      color: $color-nav-hover;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -21px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $color-nav-hover;
      }
    }
  }
}

.catalog {
  display: grid;
  justify-content: center;
  gap: 46px 48px;
  padding: 50px 40px;
  align-items: start;
  grid-auto-rows: min-content;

  grid-template-columns: repeat(1, $card-width);


  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
  }
}
