.stars {
  display: flex;
  gap: 2px;
  margin-bottom: 8px;

  &__item {
    width: 96px;
    height: 16px;
    background-image: url('../images/star.svg');
    background-size: contain;
    background-repeat: no-repeat;

  &__count {
    width: 53px;
    height: 16px;
    font-size: 10px;
    line-height: 14px;
  }
  }

  @for $i from 1 through 5 {
    &--#{$i} {
      .stars__item:nth-child(-n + #{$i}) {
        background-image: url('../images/star-active.svg');
      }
    }
  }
}
